<div class="panel panel-default main-panel">
    <div class="panel-body">
        <h2>Utwórz nowy folder</h2>
        <form class="form form-horizontal" style="margin: 10px;">
            <div class="form-group">
                <input type="text" ng-model="folderName" class="form-control" placeholder="Nazwa folderu">
            </div>
        </form>
        <div class="btn-group pull-right">
            <button ng-click="addFolder()" class="btn btn-success"><i class="fa fa-check"></i>Utwórz</button>
            <button ng-click="goBack()" class="btn btn-danger"><i class="fa fa-times"></i>Anuluj</button>
        </div>

    </div>
</div>